[submodule "test/html5lib-tests"]
	path = test/html5lib-tests
	url = git@github.com:html5lib/html5lib-tests.git
[submodule "html5lib-tests"]
	path = html5lib-tests
	url = git@github.com:html5lib/html5lib-tests.git
